<header id="branding">
    <button id="openbtn" class="openbtn" onclick="openNav()">&#9776; </button>
    <div id="home-container">
        <a id="home" href="#0">Donovan Uy</a>
    </div>
</header>
<div id="main-nav">
    <ul>
        <li>
            <a href="/">home</a></li>
        <li>
            <a href="/about.index.html">about</a></li>
        <!-- <li>
            <a href="/blog"></a>blog</li> -->
        <li>
            <a href="https://github.com/dceu/">portfolio</a></li>
    </ul>
</div>